html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  background: #0d0d0d;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

span {
  color: var(--title-color);
}
ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
}

/* ================================================= */

.wrapper {
  background: #0d0d0d;
}
.container {
  max-width: 1013px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

section {
  padding: 0 0 50px 0;
}
